<h1>followers</h1>
<% if @user.followers.present? %>
  <%= render 'user_list', users: @users %>
<% else %>
  <p>no date</p>
<% end %>
<%= paginate @users %>
<%= link_to t('views.common.back'), @user %>
